html,
body {
  color: white;
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgb(32, 35, 36);
}

#root {
  margin-top: 1rem;
}

.space-above {
  margin-top: 1rem;
}

.todo-filters {
  text-align: center;
}

.todo-list-item {
  padding-left: 0;
  padding-right: 0;
}

.todo-list-item-text {
  margin-bottom: 1rem;
}

.todo-list-item p {
  margin-bottom: 0;
}

.todo-list-item__options {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
}

.todo-list-item__toggle,
.todo-list-item__delete,
.todo-list-item__edit {
  font-size: 0.8rem;
  color: dimgray;
}

.todo-list-item__toggle:visited,
.todo-list-item__delete:visited,
.todo-list-item__edit:visited {
  color: dimgray;
}

.todo-list-item__toggle:active,
.todo-list-item__delete:active,
.todo-list-item__edit:active {
  color: dimgray;
}

.todo-list-item__toggle:hover,
.todo-list-item__delete:hover,
.todo-list-item__edit:hover {
  color: mediumslateblue;
}

.todo-list-item__completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.hidden {
  display: none;
}