$family-sans: "Source Sans Pro", "Helvetica", sans-serif;
$family-primary: $family-sans;

$shadow-small: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

$background: #E1E2E1;
$dark: #212121;
$light: darken($background, 15%);
$primary: #009688;
$link: $primary;
$secondary: #00796B;